<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,500&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
        defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Viaje Seguro - Motos Deluxe Argentina</title>
</head>

<body class="z-0 max-w-full w-auto">

    <header class="sticky top-4 left-0 right-0 z-10">
        <nav class="nav sombra bg-gray-900">
            <div class="logo-titulo">
                <a href="../index.html">
                    <img src="../img/logo4.png" alt="Logo Motos Deluxe" width="18%"
                        class="text-center mt-6 rounded-xl shadow-2xl">
                </a>
            </div>
            <div class="flex justify-center items-center">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul class="ul-nav">
                    <li><a class="active" href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./tienda.html">Tienda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="contenedor md:m-auto">

        <div class="md:flex md:flex-col">
            <div>
                <h1 class="text-5xl text-black text-center mt-20 border-b-2 mx-5 py-5 md:text-7xl md:py-10 md:mb-10">
                    7 Consejos ara mpezar andar en Moto
                </h1>
            </div>

            <div class="mt-10 p-5">
                <img src="../img/viaje-seguro.webp" class="drop" alt="imagen viaje">
            </div>
            <div class="text-center text-black text-3xl p-5 md:my-5 md:text-4xl">
                <h2>
                    Hoy en día las motocicletas crecen en popularidad y es más común que nos encontremos con ellas no
                    como herramientas de trabajo, sino como medio de transporte. Si estás pensando en adquirir una
                    motocicleta para trabajar, transportarte o solamente divertirte los fines de semana, toma en cuenta
                    las siguientes recomendaciones:

                </h2>
            </div>
            <div class="p-10">
                <ol type="1">
                    <li class="font-semibold mt-10 mb-5 text-3xl md:text-4xl">
                        Toma un curso
                    </li>
                    <p class="p-4 md:text-3xl">
                        Antes de comprar una motocicleta debes de estar consciente de todo lo que implica conducirla
                        como parte crítica decidir si transportarte en dos ruedas es para ti. Existen muchos cursos de
                        motociclismo, pero busca uno que sea impartido por personas con más experiencia. Hay cursos para
                        todos los presupuestos y te enseñarán lo básico como el control, las frenadas, los mecanismos e
                        incluso hasta cómo caer.
                    </p>
                    <li class="font-semibold mt-10 mb-5 text-3xl md:text-4xl">
                        No escatimes en equipo de seguridad
                    </li>
                    <p class="p-4 md:text-3xl">
                        La seguridad es primordial, así que toma en cuenta que te gastarás una gran cantidad de dinero
                        en equipo además de la motocicleta misma. Este equipo puede salvar tu vida; parte del mismo que
                        necesitarás es:
                    </p>
                    <p class="p-4 md:text-3xl">
                        -Casco. Revisa que tenga certificación DOT o SNELL.
                    </p>
                    <p class="p-4 md:text-3xl">
                        -Camperas. Cuanto más resistente sea el material y cuente con mejores protecciones(Hombreras,
                        Coderas, Protección lumbar).
                    </p>
                    <p class="p-4 md:text-3xl">
                        -Guantes. Ayudarán en caídas y pequeños golpes.
                    </p>
                    <p class="p-4 md:text-3xl">
                        -Botas. Que tengan las protecciones adecuadas para el tipo de manejo que realizarás
                        Pantalones. Aunque no son tan necesarios y unos jeans gruesos te pueden servir.
                    </p>
                    <li class="font-semibold mt-10 mb-5 text-3xl md:text-4xl">
                        Adquiere una moto de acuerdo con tu experiencia
                    </li>
                    <p class="p-4 md:text-3xl">
                        No todas las motos son iguales y algunos de nosotros queremos comenzar con una moto grande. Esto
                        no siempre es lo ideal, ya que podemos sufrir un accidente grave por no controlar la motocicleta
                        y su potencia.
                        Seamos realistas y comencemos con una pequeña, que además no nos duela tanto el codo si la
                        golpeamos o la rayamos. Una vez que tengamos suficientes kilómetros arriba de esa moto, podemos
                        crecerla poco a poco a una más grande y potente.
                    </p>
                    <li class="font-semibold mt-10 mb-5 text-3xl md:text-4xl">
                        Conoce el reglamento de tránsito
                    </li>
                    <p class="p-4 md:text-3xl">
                        El reglamento de tránsito es distinto para las motocicletas en comparación con los autos; ten
                        esto en cuenta y revísalo antes de empezar a andar en moto. Existen algunos casos que te pueden
                        ayudar y hacen que la moto sea muy conveniente, como poder rebasar a coches en alto total entre
                        los carriles.
                    </p>
                    <li class="font-semibold mt-10 mb-5 text-3xl md:text-4xl">
                        Dale mantenimiento constante
                    </li>
                    <p class="p-4 md:text-3xl">
                        El mantenimiento de una motocicleta no es igual al de un auto. Éste debe de ser más minucioso,
                        ya que solamente son dos ruedas las que nos mantienen arriba, por lo que cualquier falla podría
                        acabar con nosotros “besando el pavimento”.
                        Utilizar líquido de frenos adecuado es el primer paso para tener una motocicleta segura.
                        Mantener los frenos con el nivel debido de líquido de frenos hará que podamos frenar
                        adecuadamente, lo cual evitará accidentes. Recuerda engrasar la cadena de la moto
                        constantemente, existe una amplia gama de distintas grasas que te pueden servir. Realizar el
                        cambio de aceite regularmente te ayudará a que el motor esté en las mejores condiciones.
                    </p>
                    <li class="font-semibold mt-10 mb-5 text-3xl md:text-4xl">
                        Asegura tu moto
                    </li>
                    <p class="p-4 md:text-3xl">
                        Es muy importante que todos tengamos la cultura de los seguros automotrices, por lo que también
                        será muy útil, para evitarte problemas, tener asegurada tu moto.
                        Existen millones de planes de seguro para todo tipo de motocicletas, además de todo tipo de
                        presupuesto. Recuerda que un accidente puede salir muy caro.
                    </p>
                    <li class="font-semibold mt-10 mb-5 text-3xl md:text-4xl">
                        Diviértete
                    </li>
                    <p class="p-4 md:text-3xl md:mb-10">
                        Las motocicletas son vehículos, que manejados de forma adecuada, resultan muy divertidos. Así que toma tu curso, escoge la moto ideal para ti, adquiere tu equipo de seguridad, conoce el reglamento de tránsito y sal a divertirte.
                    </p>
                </ol>
            </div>

        </div>
    </main>

    <footer class="flex justify-center items-center m-auto p-20 bg-gray-950">
        <div class="text-white text-3xl">
            <h4>Motos Deluxe - 2023</h4>
        </div>
    </footer>

    <div class="arriba-contenedor">
        <div class="boton-hacia-arriba">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>

    <script src="../top.js"></script>
</body>

</html>