<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,500&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
        defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Nosotros - Motos Deluxe Argentina</title>
</head>

<body class="z-0 max-w-full w-auto">

    <header class="sticky top-4 left-0 right-0 z-10">
        <nav class="nav sombra bg-gray-900">
            <div class="logo-titulo">
                <a href="../index.html">
                    <img src="../img/logo4.png" alt="Logo Motos Deluxe" width="18%" class="text-center mt-6 rounded-xl shadow-2xl">
                </a>
            </div>
            <div class="flex justify-center items-center">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul class="ul-nav">
                    <li><a class="active" href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./tienda.html">Tienda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="contenedor md:m-auto">
        <div class="md:flex md:flex-col">
            <div>
                <h1 class="text-5xl text-black text-center mt-20 border-b-2 mx-5 py-5 md:text-7xl md:py-10 md:mb-10">
                    Sobre Nosotros
                </h1>
            </div>

            <div class="mt-10 p-5 text-4xl text-black md:text-5xl">
                <h2 class="text-left">
                    Los Comienzos
                </h2>
            </div>
            <div class="mt-10 p-5">
                <img src="../img/nosotros1.webp" class="drop" alt="imagen de nosotros comienzo">
            </div>
            <div class="text-center text-black text-3xl p-5 md:my-10 md:text-4xl">
                <p>
                    En el año 2002, en medio de la emocionante evolución de la cultura de las motocicletas, nacía una
                    apasionada visión en forma de tienda de motos. Con una ubicación modesta pero estratégica en el
                    corazón de la ciudad, esta tienda se convirtió rápidamente en un refugio para entusiastas de dos
                    ruedas y curiosos por igual. A lo largo de los años, esta tienda ha sido testigo de la evolución de
                    la tecnología de las motos y de las tendencias de diseño, pero su compromiso inquebrantable con la
                    pasión por el motociclismo ha perdurado, convirtiéndola en un ícono arraigado en la historia de la
                    ciudad y en el corazón de los moteros de todas las edades.
                </p>
            </div>
            <div class="p-5">
                <img src="../img/nosotros2.webp" class="drop" alt="imagen de nosotros">
            </div>
            <div class="text-center text-black text-3xl p-5 md:my-10 md:text-4xl">
                <p>
                    Con el paso del tiempo, la tienda de motos que vio la luz en 2002 ha superado obstáculos y desafíos
                    con determinación. Desde la explosión de las redes sociales hasta los altibajos económicos, la
                    tienda ha demostrado su capacidad de adaptación, siempre manteniendo sus valores fundamentales. Ha
                    sido el punto de partida para innumerables viajes épicos en carretera, el lugar donde nuevos
                    motociclistas han encontrado su primera máquina y donde los veteranos han descubierto piezas únicas
                    para personalizar sus monturas. Las paredes de la tienda cuentan historias a través de fotografías
                    de eventos pasados, celebrando no solo las máquinas, sino también la comunidad unida que ha forjado
                    a lo largo de los años. Con cada ronroneo de un motor que sale de su puerta, esta tienda de motos
                    sigue tejiendo su narrativa en la historia del motociclismo local, siempre mirando hacia el
                    horizonte con la misma pasión que la hizo nacer en aquel lejano 2002.
                </p>
            </div>
            <div class="mt-10 p-5 text-4xl text-black md:mt-5 md:text-5xl">
                <h2>
                    En la Actualidad
                </h2>
            </div>
            <div class="p-5">
                <img src="../img/nosotros3.webp" class="drop" alt="imagen de nosotros en la actualidad">
            </div>
            <div class="text-center text-black text-3xl p-5 mb-5 md:my-10 md:mb-20 md:text-4xl">
                <p>
                    En la actualidad somos unas de las tiendas mas prestigiosas de Argentina, Gracias a nuestros
                    clientes.
                </p>
            </div>
        </div>
    </main>

    <footer class="flex justify-center items-center m-auto p-20 bg-gray-950">
        <div class="text-white text-3xl">
            <h4>Motos Deluxe - 2023</h4>
        </div>
    </footer>

    <div class="arriba-contenedor">
        <div class="boton-hacia-arriba">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>

    <script src="../top.js"></script>

</body>

</html>