<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,500&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
        defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Servicios - Motos Deluxe Argentina</title>
</head>

<body class="z-0 max-w-full w-auto">

    <header class="sticky top-4 left-0 right-0 z-10">
        <nav class="nav sombra">
            <div class="logo-titulo">
                <a href="../index.html">
                    <img src="../img/logo4.png" alt="Logo Motos Deluxe" width="18%"
                        class="text-center rounded-xl mt-6 shadow-2xl">
                </a>
            </div>
            <div class="flex justify-center items-center">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul class="ul-nav">
                    <li><a class="active" href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./tienda.html">Tienda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="text-center my-16 text-5xl text-black px-10 md:text-7xl md:my-44">
            <h1 class="border-b-2 mx-5 py-5 md:mx-44">
                Servicios que brindamos en Motos Deluxe Argentina
            </h1>
        </div>
        <div class="m-6 md:grid md:grid-cols-2 md:text-center md:gap-28 md:m-52">
            <div class="mb-20 text-center text-black text-4xl md:text-5xl">
                <h2 class="mb-5">Taller Especializado</h2>
                <div class="rounded-lg p-4">
                    <div class="mt-2">
                        <a href="./taller.html" class="text-2xl py-2 px-16 text-white rounded-md">
                            <img src="../img/motos-en-taller.webp" class="drop" alt="imagen taller">
                        </a>
                    </div>
                </div>
            </div>

            <div class="mb-20 text-center text-black text-4xl md:text-5xl">
                <h2 class="mb-5">Asesor de Seguros</h2>
                <div class="rounded-lg p-4">
                    <div class="mt-2">
                        <a href="./asesor.html" class="text-2xl py-2 px-16 text-white rounded-md">
                            <img src="../img/asesor.jpg" class="drop" alt="imagen asesor de seguros">
                        </a>
                    </div>
                </div>
            </div>

            <div class="mb-20 text-center text-black text-4xl md:text-5xl">
                <h2 class="mb-5">Cursos de Manejo</h2>
                <div class="rounded-lg p-4">
                    <div class="mt-2">
                        <a href="../views/escuela.html" class="text-2xl py-2 px-16 text-white rounded-md">
                            <img src="../img/escuela-moto.webp" class="drop" alt="imagen escuela de manejo">
                        </a>
                    </div>
                </div>
            </div>

            <div class="mb-20 text-center text-black text-4xl md:text-5xl">
                <h2 class="mb-5">Repuestos</h2>
                <div class="rounded-lg p-4">
                    <div class="mt-2">
                        <a href="../views/repuestos.html" class="text-2xl py-2 px-16 text-white rounded-md">
                            <img src="../img/repuesto-moto.jpeg" class="drop" alt="imagen repuestos">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="flex justify-center items-center m-auto p-20 bg-gray-950">
        <div class="text-white text-3xl">
            <h4>Motos Deluxe - 2023</h4>
        </div>
    </footer>
</body>

</html>